@page "/products/add"
@using Week9.Models
@using Week9.Data
@inject NavigationManager Nav

<h3>Add Product</h3>

@* Form to add product  *@
<EditForm Model="_product" OnValidSubmit="SaveProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @* Product Name *@
    <div class="mb-3">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="_product.Name" />
        <ValidationMessage For="@(() => _product.Name)" />
    </div>

    @* Product Image *@
    <div class="mb-3">
        <label>Image URL</label>
        <InputText class="form-control" @bind-Value="_product.Image" />
        <ValidationMessage For="@(() => _product.Image)" />
    </div>

    @* Product Price  *@
    <div class="mb-3">
        <label>Price</label>
        <InputNumber class="form-control" @bind-Value="_product.Price" />
        <ValidationMessage For="@(() => _product.Price)" />
    </div>

    @* Product Description *@
    <div class="mb-3">
        <label>Description</label>
        <InputTextArea class="form-control" @bind-Value="_product.Description" />
        <ValidationMessage For="@(() => _product.Description)" />
    </div>

    @* Stock *@
    <div class="mb-3">
        <label>Stock</label>
        <InputNumber class="form-control" @bind-Value="_product.Stock" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    // Holds form data
    private Product _product = new();

    // Save product when form is valid
    private void SaveProduct()
    {
        ProductStore.Add(_product);        
        Nav.NavigateTo("/products");       
    }
}